/* define custom brand fonts */
@font-face {
    font-family: "Aspire";
    src: url(../static/fonts/AspireDemibold-YaaO.ttf);}

@font-face {
    font-family: "Dosis-Light";
    src: url(../static/fonts/Dosis-Light.ttf);}

@font-face {
    font-family: "Dosis-Bold";
    src: url(../static/fonts/Dosis-Bold.ttf);}

@font-face {
    font-family: "Dosis-ExtraBold";
    src: url(../static/fonts/Dosis-ExtraBold.ttf);}

@font-face {
    font-family: "Dosis-Regular";
    src: url(../static/fonts/Dosis-Regular.ttf)}
/* define custom colors */
:root {
    --paleyellow: #DBD600;}

:root {
    --paleblue: #7fb2ec;}

:root {
    --palepink: #f8a7f4;}
:root {
    --palepink50: #f8a7f488;}

.bannerbar {
    font-family: Dosis-Light;
    position:relative;
    background-size: cover;
    height: 10vw;
    text-align: center;
    background-color:white;
    background-position: center;
    background-repeat: no-repeat;
    /*background-image: linear-gradient(to bottom, var(--palepink),#FFFFFF00);*/
}

.bannerbar img {
    transition:0.3s;}

.bannerbar h1 {
    font-family: Dosis-Regular;
    position:absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    color:black;}

.footerbar {
    font-family: Dosis-Regular;
    position: relative;
    margin-top: 10%;
    bottom:0;
    left:50%;
    transform: translate(-50%, -50%);
    height: 10vw;
    text-align: center;
    /* background-image: url(../static/img/KCB-headshotcrop.jpg);
    background-position-x: 28%;
    background-repeat: no-repeat;
    background-size: 10%;
    background-color: white; */
}

.sidenavbar {
    font-family: Dosis-Light;
    padding-top: 1vw;
    height: auto;
    width: 0;
    z-index: 1;
    top: 2.5vw;
    left: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to right, var(--paleblue),var(--paleblue),#FFFFFF00);
    position:absolute;
    overflow-y: auto;
    transition: 0.3s;
    list-style-type: none;
    font-size: 2vw}

.sidenavbar a {
    padding: 0.1vw 0.1vw 0.1vw 0.1vw;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.2s;}

.sidenavbar a:hover {
    color: white;}

.sidenavbar .closer {
    position:absolute;
    top: 0;
    right: 1vw;
    margin-left: 3vw;
    font-size:3vw}

.eachpage {
    width: 85vw;
    overflow: auto;
    /*border-style: solid;
    border-width: 1vw;
    border-image: linear-gradient( var(--palepink),#FFFFFF00);*/
}

.featureimage {
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    height: 50%;
    width: 50%;
}


.body {
    font-family: Dosis-Regular;
    display:flex;
    flex: 3;
    flex-direction: column;
    padding-bottom: 10%;
}

.body h1 {
    font-family: Dosis-Regular;
    text-align: center}

/* .wraps {
    display:flex;
} */

.wrapstop {
    font-family: Dosis-Regular;
    /* margin-left:15vw; */
    order:1
    /* font-size:1.5vw; */
}

.wrapsmid {
    font-family: Dosis-Regular;
    /* margin-left:15vw; */
    order:2;
    /* font-size:1.5vw; */
    margin-top: 1%;
    margin-bottom: 1%;
}

.wrapsbott {
    font-family: Dosis-Regular;
    /* margin-left:15vw; */
    order:3;
    /* font-size:1.5vw; */
    margin-top: 1%;
    background-image: url("../static/img/KYBG.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
}

.wraps h2 {
    text-align: left;
}

.container {
    display:flex;
    flex-direction: column;
}

.subcontainer {
    display:flex;
    flex-direction: column;
    order:1;
    background-image: url("../static/img/TexasBG.png");
    background-position: left;
    background-repeat:no-repeat;
    background-size:70%;
}

.bgimgcontainer {
    display:flex;
    flex-direction: column;
    order:1;
    background-position: right;
    background-repeat:no-repeat;
    background-size:80%;
}

.musiccontainer {
    display:flex;
    flex-direction: column;
    order:1;
    background-image: url("../static/img/musicBG.png");
    background-position: right;
    background-repeat:no-repeat;
    background-size:80%;
}

.lefttriangle {
    float:left;
    height: min-content;
    width: min-content;
    padding-bottom: 3%;
    padding-right: 6%;
    padding-left: 1%;
    shape-outside: polygon(0% 0%, 40% 0%, 100% 80%, 0% 80%);
    clip-path: polygon(0% 0%,40% 0%, 100% 80%, 0% 80%);
     background-color: var(--palepink); 
    font-family: Dosis-Bold;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    /* font-size:2vw; */
    text-align:bottom;
    shape-margin: 5px;
}



.righttriangle {
    float:right;
    height: min-content;
    width: min-content;
    padding-bottom: 0%;
    padding-right: 1%;
    padding-left: 3%;
    padding-top: 0%;
    shape-outside: polygon(100% 0%, 100% 100%, 0% 100%,0% 80%,70% 0%);
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%,0% 80%, 70% 0%);
    /* shape-outside: polygon(100% 0%, 100% 100%, 0% 100%,0% 90%, 50% 65%,0% 30%, 40% 0%);
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%,0% 90%, 50% 65%,0% 30%, 40% 0%); */
     background-color: var(--palepink); 
    font-family: Dosis-Bold;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    /* font-size:2vw; */
    text-align:right;
    shape-margin: 5px;
}
/* .lefttriangle p {
    float:left;
    height: 15vw;
    width: 15vw;
    shape-outside: polygon(0% 0%, 40% 0%, 100% 80%, 0% 80%);
    clip-path: polygon(0% 0%,40% 0%, 100% 80%, 0% 80%);
    overflow-wrap: normal;
    font-family: Dosis-Bold;
} */

.imgleft {
    float: left;
    /* shape-outside: circle() margin-box; */
    shape-margin: 10px;
}

.imgright {
    float:right;
    /* shape-outside: circle() margin-box; */
    shape-margin: 10px;
}

#IPwrap {
    shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 30% 100%, 30% 40%, 0% 40%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 30% 100%, 30% 40%, 0% 40%);
    /* background-color: #f8a7f4; */
    shape-margin: 5px;
}

#abEngr {
    shape-outside: polygon(0% 30%, 20% 30%,40% 0%,70% 0%, 70% 60%, 100% 60%, 100% 100%,30% 100%, 30% 70%, 0% 70%);
    clip-path: polygon(0% 30%, 20% 30%,40% 0%,70% 0%, 70% 60%, 100% 60%, 100% 100%,30% 100%, 30% 70%, 0% 70%);
}

#overviewfig {
    float:left;
    width:30vw;
    shape-outside: circle() margin-box;
    clip-path: circle() margin-box;
    shape-margin: 2%;

}

.popup1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-style: bold;
    color: blue;
}

.popup1 .popuptextlink{
    visibility: hidden;
    width: 130px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup1 .popuptextlink::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup1 .show {
    visibility: visible;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 1vw;}}




