{% extends 'base.html' %}

{% block header %}
  {% block title %}Past professional projects{% endblock %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="subcontainer">
<div class="wrapstop" >
    <div class="lefttriangle">
<p>Methods
development 
for 
epitranscriptomics

</p></div>

  <p>During my Ph.D. research at Texas, I led an interdisciplinary team at Texas and UNC Chapel Hill in demonstrating for the first time that air pollution-induced RNA oxidation in human lung cell models represents a consistent dose-responsive biomarker of air pollutant exposure (<a href="https://www.tandfonline.com/doi/abs/10.3109/08958378.2014.987361">Baldridge et al 2013</a>). Building on this foundational study, I pioneered a new approach to studying how external environmental factors (like air pollution or ionizing radiation) alter the biochemistry of RNAs to affect cellular function. <img class="imgright" id="IPwrap"
    width="50%"
    src="{{ imgdirpath }}8OGfigNoTitle.png" 
    alt="8-oxoG-seq overview, see Gonzalez-Rivera et al 2020"> Using antibodies that specifically bind to 8-oxoguanosine combined with next generation RNA sequencing, I developed experimental protocols and wrote the corresponding bioinformatic pipeline to identify specific mRNAs oxidized by external stressors. Together with an outstanding team of scientists in the Contreras and Hildebrandt labs at Texas, we established an in vitro air pollution exposure model with human lungs and demonstrated that complex mixtures of airborne chemicals disrupt cholesterol metabolism and lead to major cellular dysfunction (<a href="https://www.nature.com/articles/s42003-020-01118-6">Gonzalez-Rivera et al 2020</a>).</p>
  </div>
<div class="wrapsmid">
  <div class="righttriangle">
    
    
    Bioinformatics for
    antibody engineering
  </div>In my first postdoctoral fellowship at Texas, I worked on engineering therapeutic antibodies for binding to mutated cancer targets using yeast display, fluorescence activated cell sorting, and computational tools.<br> <img class="imgleft"
  src="{{ imgdirpath }}abEngrfignotitle.png"
  width="40%"
  id="abEngr" >

  When the COVID-19 pandemic confined me at home, I pivoted to using the vast computational power of the Texas Advanced Computing Center, pursuing in silico antibody design in Rosetta to advance my project while I couldn't be in the lab. When I was able to return, I had several candidates to screen experimentally, and a targeted library strategy approach to accelerate my yeast display directed evolution experiments. In anticipation of my move to Kentucky, I used next generation amplicon sequencing combined with analysis and visualization in R to examine the patterns of sequence convergence over multiple rounds  of selection. This work is unpublished, but you can check out <a href="https://github.com/KevinCBaldridge/PertuzDesign">some of my code for this project on my GitHub page</a>
</div>
</div>
<div class="wrapsbott" >

  <p> In my most recent academic position as a postdoctoral scholar at Kentucky, I felt called to devote my time and expertise to addressing the COVID-19 pandemic.   <div class="righttriangle">
    
    Membrane 
    science for&nbsp&nbsp&nbsp&nbsp&nbsp      
    public health applications
      </div>  I brought my experience in aerosol science and biochemistry from Texas together with my engineering education to design a testing system for hollow fiber membranes as air filters to remove aerosolized pseudoviruses and nanoparticles mimicking SARS-CoV-2, the virus that causes COVID-19.  Leading a cross-disciplinary team from the College of Medicine and the College of Engineering, <img class="imgleft"
    width="50%"
    src="{{ imgdirpath }}HFMfigNotitle.png" 
    alt="Membrane air filtration overview, see Baldridge et al 2022">I demonstrated that hollow fiber membranes, like the low-cost and easily accessible Lifestraw water filters, can be used to remove airborne microbes like viruses and thereby help reduce transmission during pandemics (<a href="https://pubs.acs.org/doi/full/10.1021/acsestengg.1c00369">Baldridge et al 2022</a>). </p>
  </div>

</div>
{% endblock %}
