{% extends 'alternatingContent.html' %}

{% block header %}
  {% block title %}Temp test page{% endblock %}
{% endblock %}

{% block lefttitle1 %} The first section title, how do the words wrap their way?{% endblock %}

{% block leftcontent1 %}

<div class="bgimgcontainer" style='background-image: url("../static/img/TexasBG.png");'>
<p>some stuff, first paragraphing it. Some more stuff! stuff, first paragraphing it. Some more stuff! stuff, first paragraphing it. Some more stuff! stuff, first paragraphing it. Some more stuff! stuff, first paragraphing it. Some more stuff!</p>
<p> another paragraph of someother things. another paragraph of someother things. another paragraph of someother things. another paragraph of someother things. another paragraph of someother things. another paragraph of someother things. another paragraph of someother things. another paragraph of someother things. another paragraph of someother things.</p>
</div>
{% endblock leftcontent1 %}

{% block righttitle1 %} <br><br>The second section, doubt these wrap right {% endblock righttitle1 %}

{% block rightcontent1 %}
<div class="bgimgcontainer" style='background-image:url("../static/img/musicBG.png");'>
    <p>second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.</p>
    <p>second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.second major section.</p>
</div>
{% endblock rightcontent1 %}